<%- include partials/top %>

<div class="page">
  <section class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="title text-red">Extending Pyramid</h1>
          <p>Pyramid add-ons extend the functionality of Pyramid, such as
            adding an ORM, sending email, or using a template-based language.
            The Python Package Index trove classifier
            "<a href="https://pypi.python.org/pypi?:action=browse&c=582">Framework :: Pyramid</a>"
            is used by over 350 packages. Official add-ons (supported by the Pylons Project),
            popular add-ons from the community, and other web-related packages are listed below.</p>
          <p>"Development environments" are packages which use Pyramid as a core,
            but offer alternative services and scaffolding to ease web application development.
            Each development environment presents a set of opinions and a "personality" to its users.
            Some could be labeled "content management system" or "admin interface".
            Although users of a development environment can still use all of the services offered
            by the Pyramid core, they are usually guided to a more focused set of opinions offered
            by the development environment itself. Development environments often have dependencies
            beyond those of the Pyramid core.</p>
          <div class="extending-filters">
            <select class="filter-multiselect" multiple="multiple">
              <optgroup label="Support">
                <option value="support-pylons">Pylons Project</option>
                <option value="support-community">Community</option>
                <option value="support-unsupported">Unsupported</option>
              </optgroup>
              <optgroup label="Add-On">
                <option value="addon-yes">Yes</option>
                <option value="addon-no">No</option>
              </optgroup>
              <optgroup label="Category">
                <option value="category-api">API</option>
                <option value="category-asset-management">Asset Management</option>
                <option value="category-async">Async</option>
                <option value="category-authentication">Authentication</option>
                <option value="category-authorization">Authorization</option>
                <option value="category-caching-and-sessions">Caching and Sessions</option>
                <option value="category-configuration">Configuration</option>
                <option value="category-debugging">Debugging</option>
                <option value="category-development-environment">Development Environment</option>
                <option value="category-documentation">Documentation</option>
                <option value="category-email">Email</option>
                <option value="category-forms">Forms</option>
                <option value="category-internationalization-i18n">Internationalization (I18N)</option>
                <option value="category-media-management">Media Management</option>
                <option value="category-monitors">Monitors</option>
                <option value="category-renderers">Renderers</option>
                <option value="category-requests">Requests</option>
                <option value="category-routes">Routes</option>
                <option value="category-scaffolds">Scaffolds</option>
                <option value="category-search">Search</option>
                <option value="category-services">Services</option>
                <option value="category-sessions">Sessions</option>
                <option value="category-storage">Storage</option>
                <option value="category-task-queueing">Task Queueing</option>
                <option value="category-template-languages">Template Languages</option>
                <option value="category-testing">Testing</option>
                <option value="category-url-shorteners-and-managers">URL Shorteners and Managers</option>
                <option value="category-user-interface-and-user-experience-ui-and-ux">User Interface and User Experience (UI/UX)</option>
                <option value="category-web-page-utilities">Web Page Utilities</option>
                <option value="category-wsgi-servers">WSGI Servers</option>
              </optgroup>
            </select>
          </div>
          <div class="grid">
            <% context.data.forEach(function(item){ %>
            <div class="grid-item col-xs-12 col-sm-6 col-md-4 pyramid-item support-<%= item.support %> category-<%= item.category %> addon-<% if (item.addon) { %>yes<% } else { %>no<% } %>">
              <div class="grid-item-content">
                <h4><%= item.name %></h4>
                <div class="addon-description"><%- item.description %></div>
                <% if (item.maintainers[0]) { %><div class="addon-maintainers">Maintainers: <%= item.maintainers.join(', ') %></div><% } %>
                <% if (item.pypiUrl != '') { %><span class="addon-pypiUrl"><a href="<%= item.pypiUrl %>">PyPI</a></span><% } %>
                <% if (item.vcsUrl != '') { %><span class="addon-vcsUrl"><a href="<%= item.vcsUrl %>">VCS</a></span><% } %>
                <% if (item.docsUrl != '') { %><span class="addon-docsUrl"><a href="<%= item.docsUrl %>">docs</a></span><% } %>
              </div>
            </div>
            <% }); %>
          </div>
        </div>
      </div>
    </section>
  </div>

<%- include partials/bottom %>


